@import "../core/mixin.scss";

.form {
    @include flexcolumn;
    gap: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;
    font-size: 1.3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    &__filter {
        @include tablet {
            flex-direction: column;
            align-content: space-between;
        }
    }


    &__species {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        @include tablet {
            margin-bottom: 2rem;
        }

    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 0.3rem
    }

    &__planet__label {
        @include borderbottom;
        padding-bottom: 2%;

    }

    &__planet__ul {
        margin-top: 1rem;
        font-size: 1rem;
    }
}