@import "../core/mixin.scss";

.form {
    @include flexcolumn;
    gap: 1rem;
    margin: 1rem 1rem 1.5rem 1rem;
    font-size: 1.3rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
        align-items: flex-start;
    }

    &__filter {
        @include tablet {
            flex-direction: column;
            align-content: space-between;
        }
    }

    &__species {
        padding-bottom: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        @include tablet {
            margin-bottom: 1rem;
        }
    }

    &__name {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem
    }

    &__planet__label {
        @include borderbottom;
        padding-bottom: 2%;

    }

    &__planet__ul {
        margin-top: 1rem;
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__location {
        font-size: 1.2rem;
        margin-left: 7%;
        margin-right: 5%;

        @include tablet {
            margin: 0;
            max-width: 30%;
        }
    }
}