.header {
    background-color: black;
    height: 25vh;
    background-image: url("../../images/banner1.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}